<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/daftarTopik.css">
    <title>Daftar Rancangan Anggaran Belanja</title>
</head>

<body>
    <header>
        <%- include('./layout/headerAdmin.ejs') %>
    </header>
    <div class="skripsiSayaContainer">
        <div class="skripsiSayaTop">

            <a href="http://localhost:8080/homeAdmin">
                <img src="assets/images/1200px-Back_Arrow.svg.png" class="arrow" alt="">
            </a>
            <h3>Daftar RAB Program Kerja</h3>
        </div>
        <br>
        <div class="skripsiSayaMain">
            <div class="innerMain">

                <a class="wrapper">
                    <div class="innerMain1">
                        <div class="icon">
                            <img src="assets/images/bookIcon.jpg" class="bookIcon" alt="">
                        </div>
                        <div class="textContent">
                            <table>
                                <tr>
                                    <th class="id_proker">Id Proker</th>
                                    <th class="nama_proker">Nama Proker</th>
                                    <th class="status_proker">Status Proker</th>
                                    <th class="view">RAB</th>
                                </tr>
                                <tr>
                                    <td class="id_proker">1</td>
                                    <td class="nama_proker">Bakti Sosial ICare ke Panti Asuhan Cadas Hikmat</td>
                                    <td class="status_proker">Pending</td>
                                    <td class="view"><a href="#isiRAB">Lihat Isi</td>
                                </tr>
                            </table>
                        </div>

                        <div class="editButton">
                            <form action="/daftarRab" method="post">
                                <div>
                                    <p>Status: <b>

                                        </b> </p>
                                    <select name="gantiStat">
                                        <!-- <option selected value=""> </option> -->
                                        <option value="DITERIMA" name="DITERIMA">DITERIMA</option>
                                        <option value="REVISI" name="REVISI">REVISI</option>
                                        <option value="PENDING" name="PENDING">PENDING</option>
                                    </select>
                                    <br>
                                    <input type="hidden" name="noTopik" value="">
                                    <input type="submit" name="updateStat" class="gantiStat" onclick="redirect"
                                        value="Ganti Status">
                                    <br>
                            </form>
                            <form action="/daftarTopik3" method="post">
                                <input type="submit" name="deleteTopik" class="delete" onclick="redirect"
                                    value="DELETE">
                            </form>
                            
                        </div>
                    </div>

                    <!-- bagian Comments -->
            </div>
            <div class="container_comment_luar">
                <fieldset class="container_comment"> <b>Add Comment</b>
                    <form action="#addCommentKetua" method="post">
                        <select>
                            <% for (const row of results){ %>
                                <option><%= row.namaProker %></option>    
                                <% } %>    
                        </select>
                        <textarea></textarea>
                        
                        <input type="submit" name="updateComment" class="gantiComment" onclick="redirect" value="Submit">
                    </form>
                            
                </fieldset>
            </div>

        </div>
    </div>
    </a>

    <script>
        function myFunction() {
            var x = document.getElementById("comments");
            if (x.style.display === "none") {
                x.style.display = "block";
                console.log(x.style.display);
            } else {
                x.style.display = "none";
                console.log(x.style.display);
            }
        }
    </script>


    </div>
    </div>
    </div>

    <footer>
        <%- include('./layout/footer.ejs') %>
    </footer>

</body>

</html>