<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/assets/daftarProker.css">
        <link rel="stylesheet" href="../public/assets/header.css">


        <title>Daftar Program Kerja</title>
    </head>

    <body>
        <header>
            <div class="backgroundimg">
                <div class="top">
                    <img src="../public/assets/images/LogoInformatikaRemoved.png" class="imgIF" alt="logoIF">
                    <img src="../public/assets/images/logoUnpar.png" class="imgTop" alt="logoUnpar">
        
                </div>
                
                <div class="middle">
                    <div class="containerMiddle">
                        <p>TEKNIK INFORMATIKA</p>
                        <p class="unpar">UNIVERSITAS KATOLIK PARAHYANGAN</p>
                        <H1>PORTAL HIMPUNAN</H1>
                        <a href="/"><h2>Logout</h2></a>
                        <br>
                        <a href="https://informatika.unpar.ac.id/"><button>Contact Us</button></a>
                    </div>
                </div>
            </div>
        </header>
        <h2>Daftar Program Kerja</h2>
        <div class="container">
            <table id="proker">
                <tr>
                    <th class="id_proker">Id Proker</th>
                    <th class="nama_proker">Nama Proker</th>
                    <th class="status_proker">Status Proker</th>
                    <th class="view">Proposal</th>
                    <th class="view">RAB</th>
                </tr>
                <tr>
                    <td class="id_proker">1</td>
                    <td class="nama_proker">Bakti Sosial ICare ke Panti Asuhan Cadas Hikmat</td>
                    <td class="status_proker">Pending</td>
                    <td class="view"><a href="#isiProposal">Lihat Isi</td>
                    <td class="view"><a href="#isiRAB">Lihat Isi</td>
                </tr>

            </table>
        </div>
    </body>
</html>