<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/daftarProkerAdmin.css">
    <link rel="stylesheet" href="assets/daftarTopik.css">

    <title>Program Kerja</title>
</head>

<body>
    <header>
        <%- include('./layout/headerAdmin.ejs') %>
    </header>

    <div id="container_isiProker">
        <b style="float:right">Status : PENDING</b>
        <b>Nama Proker</b>
        <br>
        <p>I Care baksos panti cadas hikmat</p>
        <br>
        <b>Deskripsi Proker</b>
        <br>
        <p>Mengajarkan mengenai dasar - dasar pemrogramman untuk bahasa java seperti pembuatan method sederhana, input output, dan lainnya.</p>
        <br>
        <table id="anggota_proker">
            <tr>
                <th>NPM</th>
                <th>Nama</th>
                <th>Peran</th>
            </tr>

            <tr>
                <td>19012</td>
                <td>Agus</td>
                <td>Ketua Pelaksana</td>
            </tr>
        </table>
    </div>
</body>