<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/daftarProkerAdmin.css">
    <link rel="stylesheet" href="assets/isiProp.css">

    <title>Isi RAB</title>
    </head>
    <body>
        <header><%- include('./layout/header.ejs') %></header>
        <h1>Rancangan Aggaran Belanja dari Program Kerja Tutoring untuk Mata Kuliah DAA</h1>
        <div class="container_prop">
            <bre>
                HIMPUNAN MAHASISWA PROGRAM STUDI TEKNIK INFORMATIKA
                UNIVERSITAS KATOLIK PARAHYANGAN
                Jl. Ciumbuleuit No. 94 Bandung 40141
                Telp. +62 22 2042653 / +62 22 2042019 / +62 22 2041964 / Ext. 327
                hmpstif@unpar.ac.id
                http://pm.unpar.ac.id │http://www.hmpstif-unpar.org
                KATA PENGANTAR
                Puji dan syukur kami panjatkan pada Tuhan Yang Maha Esa atas berkat dan rahmat-Nya
                sehingga kami dapat menyelesaikan proposal “I-Care 2021” ini dengan sebaik-baiknya.
                Proposal ini diharapkan dapat memberikan gambaran terkait dengan kegiatan I-Care 2021 yang
                akan kami laksanakan. Kegiatan I-Care 2021 bertujuan untuk memberikan sedikit perkenalan tentang
                Teknik Informatika Universitas Katolik Parahyangan dan juga memberikan sumbangan kepada anakanak pada panti asuhan terkait.
                Proposal yang kami ajukan ini masih jauh dari sempurna. Kami berharap kegiatan I-Care ini
                dapat berlangsung sesuai dengan rencana yang telah kami tuangkan dalam proposal kegiatan ini. Kami
                menyadari bahwa kegiatan ini tidak dapat terlaksana tanpa bantuan dan dukungan dari berbagai pihak.
                Oleh karena itu, kami sangat mengharapkan kerja sama dari Bapak/Ibu untuk terselenggaranya kegiatan
                ini.
                Atas perhatian dan kerjasama Bapak/Ibu, kami ucapkan terima kasih.
                Bandung, 1 Mei 2021
                Ketua Pelaksana
                HIMPUNAN MAHASISWA PROGRAM STUDI TEKNIK INFORMATIKA
                UNIVERSITAS KATOLIK PARAHYANGAN
                Jl. Ciumbuleuit No. 94 Bandung 40141
                Telp. +62 22 2042653 / +62 22 2042019 / +62 22 2041964 / Ext. 327
                hmpstif@unpar.ac.id
                http://pm.unpar.ac.id │http://www.hmpstif-unpar.org
                BAB I
                PENDAHULUAN
                I.1 Latar Belakang Kegiatan
                Berdasarkan visi civitas Universitas Katolik Parahyangan yakni ‘Bakuning Hyang Mrih
                Guna Santyaya Bhakti’ yang berarti ‘Berdasarkan Ketuhanan Menuntut Ilmu untuk Dibaktikan
                kepada Masyarakat’, Divisi Pengabdian kepada Masyarakat Himpunan Program Studi Teknik
                Informatika Universitas Katolik Parahyangan akan melaksanakan kegiatan I-Care sebagai
                implementasi dari visi tersebut.
                Pada era modern saat ini, logika komputasi sederhana merupakan aspek yang penting
                untuk pemecahan masalah atau biasa disebut sebagai problem solving. Pemahaman mengenai
                logika komputasi sederhana ini masih kurang dipahami oleh masyarakat luas. Salah satu cara
                menanggulangi permasalahan tersebut adalah memberikan pengenalan tentang informatika
                melalui pengetahuan dasar computational thinking yang merupakan suatu bentuk pemecahan
                masalah secara terstruktur dan sistematis.
                Kami memilih yayasan panti asuhan sebagai sasaran pelaksanaan I-Care 2021 karena
                panti asuhan memiliki banyak potensi dan nilai pengabdian pada masyarakat. Anak-anak panti
                asuhan memiliki potensi di bidang akademik yang akan sangat berguna di masa depan
                dikarenakan interaksi mereka dengan teknologi di era digital ini akan semakin banyak. Kami
                juga mendapatkan pelajaran penting dalam mengabdikan diri kepada masyarakat dengan
                membagikan sumbangan kepada sesama yang membutuhkan.
                I.2 Tujuan Kegiatan
                Tujuan diselenggarakannya I-Care 2021 adalah sebagai berikut :
                 Memberikan pengetahuan dasar yang berhubungan dengan teknologi dan informatika kepada
                anak-anak yang membutuhkan di panti asuhan tersebut.
                 Memberikan bantuan sumbangan berupa sembilan bahan pokok (sembako) dan uang agar dapat
                membantu anak-anak di panti asuhan tersebut untuk memenuhi kebutuhan hidup dan
                melaksanakan pembelajaran daring.
                 Mengabdikan diri kepada masyarakat yang bertujuan untuk mewujudkan tercapainya visi dan
                misi Divisi Pengabdian kepada Masyarakat Program Studi Teknik Informatika Universitas
                Katolik Parahyangan.
                I.3 Sasaran Kegiatan
                Sasaran kegiatan I-Care 2021 adalah Panti Asuhan Al-Fitra Bandung, Cicendo, Kota
                Bandung, Jawa Barat.
                I.4 Bentuk Kegiatan
                Kegiatan I-Care Himpunan Mahasiswa Program Studi Teknik Informatika (HMPSTIF) ini
                merupakan kegiatan bakti sosial yang akan dilaksanakan pada panti asuhan di daerah Kota
                Bandung. Acara ini akan dilaksanakan di Panti Asuhan Al-Fitra Bandung yang beralamat di Jl.
                Udawa No.12, RT.001/RW.004, Arjuna, Kec. Cicendo, Kota Bandung, Jawa Barat. Kegiatan ICare 2021 akan dilaksanakan oleh tiga orang panitia, dengan sasaran peserta anak-anak panti
                berjumlah 30 anak.
                HIMPUNAN MAHASISWA PROGRAM STUDI TEKNIK INFORMATIKA
                UNIVERSITAS KATOLIK PARAHYANGAN
                Jl. Ciumbuleuit No. 94 Bandung 40141
                Telp. +62 22 2042653 / +62 22 2042019 / +62 22 2041964 / Ext. 327
                hmpstif@unpar.ac.id
                http://pm.unpar.ac.id │http://www.hmpstif-unpar.org
                Kegiatan akan dimulai pukul 13.00 dengan pembukaan acara dan doa pembuka lalu
                dilanjutkan dengan sambutan dari ketua pelaksana I-Care 2021, lalu akan ada pemberian materi
                oleh Bapak Elisati Hulu, M.T., dosen Teknik Informatika dari Universitas Katolik Parahyangan
                tentang pengenalan informatika untuk anak-anak di panti asuhan tersebut. Materi yang dibawakan
                yaitu untuk mengetahui apa saja yang dapat dihasilkan oleh seseorang di bidang informatika hingga
                profesi apa saja yang dapat dilakukan di bidang informatika. Setelah pemberian materi, anak-anak
                akan diajak bermain games atau latihan implementasi tentang materi yang telah disampaikan oleh
                dosen pengajar. Setelah acara berakhir panitia akan membagikan hadiah untuk pemenang games
                dan bingkisan yang berisi buku tulis, pulpen, pensil, makanan ringan, serta susu untuk semua
                peserta sebagai penghargaan untuk mereka. Selanjutnya akan ada foto dokumentasi kegiatan oleh
                panitia bersama panti asuhan. Kegiatan akan diakhiri dengan doa dan penutupan oleh panitia.
                Kegiatan I-Care pada tahun ini akan dilaksanakan di tengah pandemi, oleh karena itu kami
                dari seluruh panitia kegiatan I-Care akan memberikan bantuan berupa sumbangan yang terdiri dari
                sembako dan uang tunai yang dapat digunakan untuk kepentingan sehari-hari anak-anak panti.
                Terlepas dari hal ini kami akan menggalang dana melalui kegiatan open donation secara terbuka
                dari jurusan Teknik Informatika, untuk menambah dana bantuan bagi anak-anak panti. Sumbangan
                yang telah dikumpulkan akan diserahkan kepada pihak panti oleh tiga orang panitia yang
                berdomisili di Bandung, pada tanggal 12 Juni 2021.  
            </bre>
        </div>
    </body>

</html>