
/* CSS Bagian Container skripsiSayaTop */


.skripsiSayaTop{
    
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: #B7DBE0;
    border-radius: 25px;
}

.skripsiSayaTop h3{
    margin: 1rem;
    margin-left: 20%;
}

.skripsiSayaTop img{
    width: 50%;
    height: 50%;
}
.skripsiSayaTop a{
    width: 10%;
    height: 10%;
}
.skripsiSayaTop  img:hover{
    transform: translateY(0.25rem);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.75)
}

/* CSS Bagian Container skripsiSayaMain */

.skripsiSayaMain{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.skripsiSayaMain a{
    color: black;
    text-decoration: none;
}

label{
    color: white;
    margin: 1rem 0rem 1rem 0rem;
}
fieldset{
    display: flex;
    flex-direction: column;
    border: solid 0.1rem white;
}

.innerMain{
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    
    width: 100%;
    height: 100%;
}

/* CSS Bagian inner1 Container skripsiSayaMain */

.innerMain1{
    background-color:#B7DBE0;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    
}

.innerMain1:hover{
    transform: translateY(0.25rem);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.75)
}

.innerMain2{
    background-color: #B7DBE0;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
}
.innerMain2:hover{
    transform: translateY(0.25rem);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.75)
}

/* CSS Bagian inner1 Container icon */

.icon{
    border-radius: 70%;
    size: 10%;
}
.bookIcon{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-top: 15%;
}


/* CSS Bagian inner1 Container textMain */

.innerMain1 h3{
    padding: 0rem;
    padding-left: 1rem;
    padding-bottom: 0rem;
}

.textContent {
    margin-top: 0%;
    height: 20%;
    width: 50%;
    
}

.textContent p{
    padding-left: 1rem;
}

/* Bagian Status*/

.editButton{
    display: flex;
    padding: 2%;
    height: 20%;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}
.gantiStat{
    margin-top: 5%;
}
.delete{
    margin-top: 5%;
}

/* Bagian Komentar */
.container{
    width: 100%;
    font-size: 16px;
}
.container_comment_luar{
    width: 50%;
    margin: 2%;
}
h2{
    margin: 2%;
}
th{
    font-size: 24px;
}
fieldset{
    font-size: 25px;
    border-radius: 25px;
    background-color: #B7DBE0;
}
select{
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    margin: 2%;
    margin-left: 0;
} 
form input{
    border: none;
    font-size: 18px;
}
form textarea{
    width: 100%;
    height: 100px;
} 
.gantiComment{
    float: right;
    padding: 2%;
    width: 25%;
    border-radius: 15px;
    background-color:#4877c939;
}
input{
    border-radius: 15px;
    padding: 3%;
}
.desc_proker{
    display: none;
}
#detail_proker{
    padding: 1%;
    border: none;
    display: block;
    border-radius: 25px;
    margin-top: 1%;
}

#container_isiProker{
    background-color: #B7DBE0;
    border-radius: 25px;
    border: 1px solid black;
    margin: 5%;
    font-size: 25px;
    padding: 5%;
}
#anggota_proker{
    width: 100%;
    border: 1px solid black;
    border-radius: 25px;
}
#anggota_proker td{
    text-align: center;
}

.button{
    width: 25%;
    float: right;
    margin-right:5%;
    padding: 1%;
    background-color: #B7DBE0;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
}

.add:hover{
    background-color: greenyellow;
}

