<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/assets/headerBaru.css">
    </head>
    <body>
        <header>
            <div class="container">
                <img src="../public/assets/images/LogoInformatikaRemoved.png" class="imgIF" alt="logoIF">
                <img src="../public/assets/images/logoUnpar.png" class="imgTop" alt="logoUnpar"> 
                <h1>Portal Himpunan Teknik Informatika</h1>
                <a href="#listProker">Daftar Program Kerja</a>
                <a href="#listRAB">Daftar Rancangan Anggaran Belanja</a>
                <a href="#listProp">Daftar Proposal Program Kerja</a>
                <a href="#logout">Logout</a>
            </div>
            
        </header>
    </body>
</html>