<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/headerBaru.css">
    </head>
    <body>
        <header>
            <div class="container">
                <img src="/assets/images/LogoInformatikaRemoved.png" class="imgIF" alt="logoIF">
                <img src="/assets/images/logoUnpar.png" class="imgTop" alt="logoUnpar"> 
                <h1>Portal Himpunan Teknik Informatika</h1>
                <a href="http://localhost:8080/home">Home</a>
                
                <a href="http://localhost:8080/daftarProker">Daftar Program Kerja</a>
                
                <a href="http://localhost:8080/">Logout</a>
            </div>
            
        </header>
    </body>
</html>